.one{
    height: 60px;
}
.navTop {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #fff;
    border-bottom: 1px solid #EEEEEE;
    position: fixed;
    z-index: 9999;
    line-height: 80px;
}
.lnav {
    float: left;
}
.navTop .rnav {
    float: right;
}
.navTop .rnav li {
    float: left;
    position: relative;
}
.navTop .rnav li {
    font-size: 18px;
    margin-left: 55px;
}
.navTop .rnav li:hover a{
    color: #ff3c41;
}
.popUp {
    position: absolute;
    top:50px;
    left: -15px;
}
.litwoup .popUp {
    position: absolute;
    top:50px;
    left: -80px;
}